.container {
    display: flex;
    width: 390px;
    height: 390px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
    background-color: black;
}

.out-layer-ring {
    top: 15px;
    left: 15px;
    padding: 3px;
    width: 360px;
    height: 360px;
    stroke-width: 8px;
    border-width: 0px;
    background-color: black;
}

image {
    left: 158px;
    top: 118px;
}