.container {
    width: 390px;
    height: 390px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-radius: 0px;
    background-color: black;
}

.list-container {
    width: 390px;
    height: 300px;
    left: 0px;
    top: 70px;
    border-width: 0px;
    border-radius: 0px;
    background-color: black;
}

.list-item {
    width: 390px;
    height: 70px;
    left: 0px;
    top: 10px;
    border-width: 0px;
    border-radius: 0px;
    background-color: black;
}

.main-title {
    top: 20px;
    left: 20px;
    color: white;
    width: 370px;
    height: 25px;
    font-size: 20px;
}

.subtitle {
    top: 45px;
    left: 20px;
    color: green;
    width: 370px;
    height: 25px;
    font-size: 20px;
}